{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true
  },
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": "off",
    "no-underscore-dangle": ["error", { allow: ["__PRELOADED_STATE__"] }],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
  },
  "globals": {
    __CLIENT__: true,
    __DEVTOOLS__: true,
    webpackIsomorphicTools: true,
  }
}
