{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "class-property"
  ],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": "off",
    "no-underscore-dangle": ["error", { "allow": ["__PRELOADED_STATE__"] }],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  },
  "globals": {
    "__CLIENT__": true,
    "__DEVTOOLS__": true,
    "webpackIsomorphicTools": true
  }
}
