@import "../mixins/transitions";

.buttons-grid {
  width: 50%;

  &__cell {
    width: 60px;
    height: 60px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 4px;
    position: relative;
    border: 2px solid #3F3F3F;
    @include button-transition(background);

    &:hover {
      background-color: #CCC;
    }

    &--active {
      background-color: #CCC;
    }

    input {
      display: none;
      visibility: hidden;
    }
  }
}