@import "_transitions.scss";

.buttons-grid {
  width: 500px;
}

.buttons-grid__cell {
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttons-grid__item {
    width: 80px;
    height: 80px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 4px;
    position: relative;
    border: 2px solid #3F3F3F;
    @include button-transition(background);

    &:hover {
      background-color: #CCC;
    }
}
